voltis/n8n-workflows/3-events.json
{
  "name": "Tracking - Custom Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "event",
        "options": {}
      },
      "id": "webhook-event",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "site_id",
              "name": "site_id",
              "value": "={{ $json.body.site_id }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "environment",
              "name": "environment",
              "value": "={{ $json.body.environment }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date($json.body.ts).toISOString() }}",
              "type": "string"
            },
            {
              "id": "event_name",
              "name": "event_name",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "url",
              "value": "={{ $json.body.url }}",
              "type": "string"
            },
            {
              "id": "path",
              "name": "path",
              "value": "={{ $json.body.path }}",
              "type": "string"
            },
            {
              "id": "event_data",
              "name": "event_data",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-event",
      "name": "Format Event Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Events",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "google-sheets-event",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Event tracked\" }",
        "options": {}
      },
      "id": "respond-event",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Event Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
